@using WebStore.Models;

@model RentViewModel

<div class="contentHead">A rendelését sikeresen rögzítettük!</div>

<div class="content">A rendelés teljes összege: <strong>@Model.TotalPrice</strong> Ft.</div>
